# Visual Studio
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.obj
*.exe
*.pdb
*.ipch
*.apds
*.odb
*.lastbuildstate
*.unsuccessfulbuild
*.tlog

# Android
.gradle/
local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.iml
android_gradle_build.json

# Project Specific / Temporary
temp_wdk_extract/
wdk_extracted/
*.zip
*.log
build_log*.txt
build_ascii*.log
build_output*.log
